.nav-bar {
    display: flex;
    background-color: black;
    color: white;
    transition: border-bottom 0.5s;
    justify-content: space-between;
}

.nav-bar > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.nav-bar > .right-side {
    display: flex;
}

.nav-bar > .right-side > div {
    margin-right: 20px;
}

.nav-bar a {
    color: gray;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-bar:hover {
    border-bottom: 1px solid white;
}

.nav-bar a:hover {
    color: white;
}

.about-linker {
    margin-top: 20px;
}

.project-linker {
    margin-top: 800px;
}

.project-linker a {
    color: black;
}

.contact-linker {
    margin-top: 600px;
}