body {
    background-color: black;
}

.nav-bar {
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
}

.nav-bar > div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 1.5em;
}

.nav-bar > .right-side {
    display: flex;
}

.nav-bar > .left-side > .name {
    margin-left: 20px;
}

.nav-bar > .right-side > div {
    margin-right: 20px;
}

.nav-bar a {
    color: gray;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-bar a:hover {
    color: white;
}

.about-linker {
    margin-top: 50px;
    color: white;
}

.about-linker > .about-me-items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-linker > .about-me-items > .my-image {
    margin-left: 200px;
}

.about-linker > .about-me-items > .my-description {
    margin-left: 50px;
    margin-right: 200px;
}

.project-linker {
    margin-top: 800px;
}

.project-linker a {
    color: white;
}

.contact-linker {
    margin-top: 600px;
    color: white;
}